.blog{
    display: flex;
    justify-content: center;
}
:host{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(109.6deg, rgba(61,245,67,1)11.2%,rgba(9,111,224));
    .container{
        width: 600px;
        height: 300px; 
    }
}