<p class="text-center text-3xl font-bold">Blogs works!</p>
<p style="text-align: center;">Gopika too </p>
<p style="text-align: center; font-size: 21px;">Work in process</p>

<!-- Cards with media area -->
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title class="text mb-3"><svg xmlns="http://www.w3.org/2000/svg" class="icon text-black icon-tabler icon-tabler-clipboard-list" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
          <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" />
          <path d="M9 12l.01 0" />
          <path d="M13 12l2 0" />
          <path d="M9 16l.01 0" />
          <path d="M13 16l2 0" />
        </svg>Parameters Configuration</mat-card-title>
        <mat-card-subtitle fxLayout fxLayoutGap="155px"><p>Icv plan</p>
          <i class="fa fa-long-arrow-right mt-2 text-warning" mat-raised-button ></i>
        </mat-card-subtitle>
        <mat-card-subtitle fxLayout fxLayoutGap="120px"><p>Icv Reporting</p>
          <i class="fa fa-long-arrow-right mt-2 text-warning" aria-hidden="true"></i>
        </mat-card-subtitle>
        <mat-card-subtitle fxLayout fxLayoutGap="55px"><p>Icv pillars configuration</p>
          <i class="fa fa-long-arrow-right mt-2 text-warning" aria-hidden="true"></i>
        </mat-card-subtitle>

      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
