<!-- *****************modern design section starts here********************* -->
<div class="w-full blue pb-10 ">
    <div class="text-center text-2xl font-bold ourServ mt-5 pt-10">
        GET READY FOR MODERN DESIGN
    </div>
    <div class="text-center text-xl text-gray-400 mt-10">
        A small river named Duden flows by their place and supplies it with
        the necessary regelialia. It is a paradisematic country, in which
        roasted parts of sentences fly into your mouth.
    </div> <br>
    <div class="text-center mt-5">
        <a href="#" class="p-3 border border-white rounded "> Get Started</a>
    </div>
    <div class="text-center mt-5">
        <img fxAlign="center" src="../assets/blog.webp" alt="team" width="250">
    </div>
</div>