.textOverlay{
    background-image: url('../assets/sample.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.weCreate{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.smallRiver{
font-family: sans-serif;
}
.ourServ{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.threeBoxes{
    background-color: #f7f7f7; 
    border-radius: 3px;

    b{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color:#cec7c7;
        line-height: 30px;
    }
}
.threeBoxes1{
    background-color: #ebebeb; 
    border-radius: 3px;

    b{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color:#cec7c7;
    }
}
.bussinessStrategy{
    background-color: #fafafa;
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color:lightgrey;
    }
}
.counterSec{
    background-image: url('../assets/halfmanlap.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.team{
    background-color: #fafafa;
}
.blue{
    background-color: #0d0cb5;
    color: white;
}
a{
    cursor: grab;
}
